$backgroundDark: #353535;
$backgroundMedium: #888888;
$backgroundLight: #c4c4c4;

$primary: #aa0909;
$secondary: #dddbdb;
$darkText: #191919;
$whiteText: #f0e7e6;

$heroShadow: rgba(0, 0, 0, 0.6);
$navBlackBg: #000000;
$white: #fff;
